<%= filtered_products = @products %>
<% if params[:new] %>
  <%= filtered_products = filtered_products.where(new: true) %>
  <%= puts "new" %>
<% end %>
<% if params[:on_sale] %>
  <%= filtered_products = filtered_products.where(on_sale: true) %>
<% end %>

<h1>Search Results</h1>
<p>Found <%= @products.size %> Power-ups matching "<%= @params[:q] %>"</p>

<% filtered_products.each do |product| %>
  <div class="product">
    <%= render product %>
  </div>
<% end %>
