<%= filtered_products = @products %>
<% if params[:new] %>
  <%= filtered_products = filtered_products.where(new: true) %>
<% end %>
<% if params[:on_sale] %>
  <%= filtered_products = filtered_products.where(on_sale: true) %>
<% end %>

<h1>Search Results</h1>
<p>Found <%= @products.size %> Power-ups matching "<%= @params[:q] %>"</p>

<div class="container" >
  <div class="row">
  <% filtered_products.each do |product| %>
      <%= render product %>
  <% end %>
  </div>
    <footer class="container-fluid text-center">
      <p><%= paginate @products %></p>
    </footer>
</div>
